form{
display: flex;
flex-direction: column;
gap: 1px;
box-sizing: border-box;
justify-self: center;
width: 100%;
max-width: 600px;
margin: 0 auto;




}
.formClass{
    
    border: 2px solid rgb(66, 62, 62);
    border-radius: 4px;
    background-color: aliceblue;
    width: 100%;
    padding: 1rem;

}
.submit{
    margin-top: 1rem;
    height: 2rem;
    border: 2px solid rgb(66, 62, 62);
    border-radius: 4px;
    background-color: aliceblue;
    width: 100%;
    cursor: pointer;

    
}
.submit:hover{
    background-color: rgb(113, 150, 182);
}

h2{

    text-align: center;
    margin-top: 2rem;
}
.textarea{

min-height: 150px;
width: 100%;
background-color: aliceblue;
padding: 1rem;
border: 2px solid rgb(66, 62, 62);

}
.searchBox {
  position: relative;
  width: 60%;
  margin: 0 auto;
  
  
}

.searchInput{
    width: 100%;
    padding: 20px 20px 20px 50px;
    border-radius: 8px;
    border: 1px solid rgb(136, 136, 136);
    
}

.searchIcon{
 position: absolute;
 left: 12px;
 top: 60%;
}
.findButton{
position: absolute;
border-radius: 10px;
padding: 8px 16px;
right: 3px;
top: 71%;
transform: translateY(-50%);
background-color:rgb(127, 168, 255);
cursor: pointer;
color: white;
border-color: white;

}
.logInButton, .exploreButton{
   
  display: block;
  margin: 20px auto;

  padding: 8px 50px;

  cursor: pointer;

    background-color:rgb(219, 228, 248);
    border-color: rgb(219, 228, 248);

}

p{
    margin-top: 1rem;
}

.loginScreenbtn{
padding: 10px 40px;
cursor: pointer;
align-self: flex-end;
margin-top: 1rem;

}

form{

    border: 2px solid rgb(92, 91, 91);
    padding: 30px;
    margin-top: 1rem;
}
label{
    font-weight: bold;
    margin: 0;
}

.loginForm{

    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 1rem;


}
.loginForm input {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid black;
}
.subtitle{

    text-align: center;
}

@media(max-width:753px){
.searchBox{

    width: 90%;

}



}